fastapi==0.103.1
pydantic==2.3.0
Requests==2.31.0
scikit_learn==1.3.0
uvicorn==0.23.2
Jinja2==3.1.2
python-multipart==0.0.6
python-dotenv==1.0.0
langchain==0.0.299
openai==0.27.8 
supabase==1.0.4
celery
flower
gunicorn
fastapi-mail
pypdf==3.16.2
boto3==1.28.62